@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */



#allbutton{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    position: absolute;


}

#buttonNoun,#buttonVerb,#buttonAdjective,#buttonNoun2,#buttonPlace{
    padding: 15px 30px;
    border-radius: 30px;
    background-color: rgba(107, 104, 104, 0.645);
    color: white;
    border: none;
    cursor: pointer;
}

#buttonSpeak{
    padding: 15px 30px;
    border-radius: 30px;
    background-color: rgba(237, 159, 4, 0.645);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}